version: 2
jobs:
  build:
    machine: true
    working_directory: ~/leonardo-ui
    environment:
      - DBUS_SESSION_BUS_ADDRESS: /dev/null
    steps:
      - checkout
      - run:
          name: Upgrade Node
          command: |
            NVM_DIR="/opt/circleci/.nvm"
            curl -ogit  https://raw.githubusercontent.com/creationix/nvm/v0.33.6n/install.sh | bash
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            echo "Installing Node 6.9.5"
            nvm install 6.9.5
            nvm alias default 6.9.5
            # Each step uses the same `$BASH_ENV`, so need to modify it
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo "[ -s \"$NVM_DIR/nvm.sh\" ] && . \"$NVM_DIR/nvm.sh\"" >> $BASH_ENV
      - restore_cache:
          key: dependency-cache-v0-{{ checksum "yarn.lock" }}
      - run:
          name: Install NPM packages
          command: npm install
      - save_cache:
          key: dependency-cache-v0-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Install Dependencies
          command: |
            node -v
            wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
            sudo apt-get update -y
            sudo apt-get install lsb-base google-chrome-stable -y
      - run:
          name: Build
          command: |
              npm run build
              node tools/build-docs.js
      - run:
          name: ESlint
          command: npm run lint
      - run:
          name: Unit-tests
          command: npm run test
      - run:
          name: Component tests
          command: npm run test:ci
      - store_artifacts:
          path: "dist"
      - store_artifacts:
          path: "docs/dist"
      - store_artifacts:
          path: "test/fixtures/dist"
      - store_artifacts:
          path: "test/component/artifacts"
#   node:
#     version:  6.9.5


