@import "./_mixins";

.lui-search--inverse {
  .search-mixin(
    @text-color: @greyscale-100;
    @icon-color: fade(@greyscale-100, 60);
    @clear-color: fade(@greyscale-100, 80);
    @clear-color-active: @greyscale-100;
    @placeholder-color: fade(@greyscale-100, 60);
    @background-color: fade(@greyscale-100, 30);
  );
}
